@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    background-color: aquamarine;
  }

#titulo {

    font-family: 'Bangers', serif;

}